
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=New+Tegomin&family=Nova+Flat&family=Rajdhani:wght@500&family=Raleway:wght@300;400&family=Recursive:wght@300&family=Sunshiney&family=Tinos&display=swap');



header {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}

h1, h2, h3, h4, h5, h6, p, a, li, span {
  font-family: 'Arbutus Slab', serif;
}

.navbarLinks {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: large;
}

.singleLink {
  text-decoration: none;
  color:#033635;
  font-weight: 700;
  margin: 10px;
}

.theme {
  position: relative;
  height: 39px;
  top: 16px;
  border-radius: 5px;
  padding: 3px 5px;
  display: flex;
  justify-content: space-between;
  margin-right: 6px;
  width: 80px;
}

.themeIcon {
  border: 1px solid black;
  font-size: 25px;
  cursor: pointer;
  padding: 3px;
  border-radius: 3px;
  caret-color: transparent;
}